@model IEnumerable<ENTIDAD.vehiculo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vehiculos</h2>

<p>
    @Html.ActionLink("Crear Vehiculo", "Crear", "Vehiculo")
</p>
<table class="table">
    <tr>
        <th>
            ID VEHICULO
        </th>
        <th>
            NOMBRE
        </th>
        <th>
            CILINDRAJE
        </th>
        <th>
           CAPACIDAD CARGA MUNICION
        </th>
        <th>
            TIPO
        </th>
        <th>
           MARCA
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_vehiculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cilindraje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.capacidadCargaMunicion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoVehiculo.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marca.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = item.id_vehiculo }) |
            @*@Html.ActionLink("Detalle", "GetVehiculo", new { id = item.id_vehiculo }) |*@
            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.id_vehiculo })
        </td>
    </tr>
}

</table>
