@model ENTIDAD.soldado

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Editar soldado</h4>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id_soldado)
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.id_soldado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id_soldado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id_soldado, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.edad, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.edad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.edad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.experiencia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.experiencia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.experiencia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.capacidadCarga, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.capacidadCarga, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.capacidadCarga, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idPais_Fk, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">


            @Html.DropDownList("idPais_Fk", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idPais_Fk, "", new { @class = "text-danger" })

            @*@Html.EditorFor(model => model.idPais_Fk, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.idPais_Fk, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idProfesion_Fk, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.DropDownList("idProfesion_Fk", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idProfesion_Fk, "", new { @class = "text-danger" })

            @*@Html.EditorFor(model => model.idProfesion_Fk, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.idProfesion_Fk, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idRango_Fk, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.DropDownList("idRango_Fk", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idRango_Fk, "", new { @class = "text-danger" })

            @*@Html.EditorFor(model => model.idRango_Fk, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.idRango_Fk, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
