@model ENTIDAD.soldado

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>¿Estás seguro de eliminar este elemento?</h3>

<div>
    <h4>soldado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID SOLDADO
        </dt>
       
        <dd>
            @Html.DisplayFor(model => model.id_soldado)
        </dd>

        <dt>
             EDAD
        </dt>
        <dd>
            @Html.DisplayFor(model => model.edad)
        </dd>

        <dt>
            EXPERIENCIA (%)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.experiencia)
        </dd>

        <dt>
           CAPACIDAD CARGA (KG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacidadCarga)
        </dd>

        <dt>
            PAIS
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPais_Fk)
        </dd>

        <dt>
            PROFESION
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idProfesion_Fk)
        </dd>

        <dt>
            RANGO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idRango_Fk)
        </dd>

    </dl>

    @using (Html.BeginForm("Eliminar", "Soldado", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ELIMINAR" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
